/* Add a background color to the entire site */

body {
    background-color: rgb(132, 183, 214)
}

h1 {
    font-style: italic;
    text-align: center;
    font-size: 60px;
    margin-top: 22px;
    margin-bottom: 22px;
    font-weight: bold;
}

h2 {
    font-style: normal;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    margin-top: 12px;
    margin-bottom: 12px;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

.email {
    margin-top: 15px;
}


/* Hamburger Box settings */

#hamnav {
    width: 100%;
    background-color: lightsteelblue;
}


/* horizontal menu settings */

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 7px;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover {
    background: rgb(175, 174, 174);
}


/* settings to hid the hamburger */

#hamnav label,
#hamburger {
    display: none;
}


/* mobile hamburger settings */
/* change to vertical menu box */

#hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 2px solid purple;
}

/* hamburger icon */
#hamnav label {
    display: inline-block;
    color: white;
    background: black;
    font-style: normal;
    font-size: 1.2em;
    padding: 7px;
}


/* when to show and hide the hamburger */
#hamitems {
    display: none;
}

#hamnav input:checked~#hamitems {
    display: block;
}


/* Add a grey background color to the bottom navigation */
.bottomnav {
    background-color: lightslategray;
    overflow: hidden;
}


/* Add formatting to the links in the bottom navigation */

.bottomnav a {
    float: left;
    color: darkblue;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}


/* Add formatting for when hovering over a link in the bottom navigation */

.bottomnav a:hover {
    background-color: rgb(243, 240, 240);
    color: black;
    font-weight: bold;
}


/* screen size changes*/
/* main photo display settings, also for mobile*/
.container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: fit-content;
}

.item {
    margin: 5px;
    width: 230px;
    height: auto;
}


/* change for laptop and desktop screens*/
@media screen and (min-width: 769px) {
    #hamnav label {
        display: none;
    }
    #hamitems {
        display: flex;
        flex-direction: row;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px;
        width: fit-content;
    }
    .item {
        margin: 25px;
        width: 550px;
        height: auto;
    }
}


/* change for tablet screens*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: fit-content;
    }
    .item {
        margin: 12px;
        width: 300px;
        height: auto;
    }
}

/* mailing list display settings */
.mailinglist {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
}

.mailinglist label {
    float: left;
    margin-left: 27px;
}

.mailinglist input {
    margin-left: 11px;
}
